/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, button {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.pc {display: none !important;}
br.only-pc {content: '';}
br.only-pc::after {content: '\00a0';}
br.under-1024 {display: block;}
br.under-540 {display: none;}
br.under-414 {display: none;}
br.under-393 {display: none;}
button {background: transparent; outline: none; border: none; cursor: pointer;}

/* common */
#wrapper {min-width: 320px; max-width: 850px; overflow: hidden;}
#skip-nav {position: fixed; top: -400px; left: 0; width: 100%; line-height: 40px; text-align: center; background-color: rgb(68, 68, 139); color: #ffffff; z-index: 10001}
#skip-nav:focus {top:0;}
#header {position: fixed; top: 0; right: 0; width: 100%; height: 100px; max-width: 850px; z-index: 10000;}
#header h1 { position: absolute; top: 45px; left: 10px;}
#header a.menu {position: absolute; top: 55px; right: 5px; width: 25px; height: 25px;}
#header div.mask {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: black; opacity: 0.3;}
#header div.mask.open {display: block;}


#top_menu {background-color: #f8f8f8;; height: 40px; border-bottom: 1px solid #dddce3;}
#top_menu > div.size {position: relative; max-width: 850px; height: 100%; margin: 0 auto;}
#top_menu > div.size > ul.link { position: absolute; top: 5px; right: 5px;}
#top_menu > div.size > ul.link > li {float: left;}
#top_menu > div.size > ul.link > li.letter {line-height: 26px; font-size: 12px;}
#top_menu > div.size > ul.link > li.letter + li.letter {margin-left: 15px;}
#top_menu > div.size > ul.link > li.letter + li.letter::before {content: '|'; position: relative; top: -1px; left: -8px;}
#top_menu > div.size > ul.link > li:nth-child(3) {background-color: aqua; margin-left: 20px;}
#top_menu > div.size > ul.link > li.box + li.box {margin-left: 5px;}
#top_menu > div.size > ul.link > li.box > a.youtube {background: #999 url('../img/ico_sns.png') -61px 5px no-repeat; background-size: 140px; width: 26px; height: 26px; display: block; text-indent: -9999px; transition: all 0.5s;}
#top_menu > div.size > ul.link > li.box > a.youtube:hover {background: #ff0d00 url('../img/ico_sns.png') -61px 5px no-repeat; background-size: 140px;}
#top_menu > div.size > ul.link > li.box > a.facebook {background: #999 url('../img/ico_sns.png') -38px 4px no-repeat; background-size: 140px; width: 26px; height: 26px; display: block; text-indent: -9999px; transition: all 0.5s;}
#top_menu > div.size > ul.link > li.box > a.facebook:hover {background: #38569A url('../img/ico_sns.png') -38px 4px no-repeat; background-size: 140px;}
#top_menu > div.size > ul.link > li.box > a.blog {display: block; width: 45px; text-align: center; line-height: 26px; font-size: 12px; background-color: #999; color: #ffffff}
#top_menu > div.size > ul.link > li.box > a.blog:hover {background: #888; transition: all 0.5s;}
#top_menu > div.size > ul.link > li.box > button {background: #0e60bf url('../img/ico_arrdown.png') right 10px top 12px no-repeat; line-height: 26px;  width: 125px; text-align: left; color: #ffffff; padding-left: 10px; transition: all 0.5s;}
#top_menu > div.size > ul.link > li.box > button:hover {background: #104e96 url('../img/ico_arrdown.png') right 10px top 12px no-repeat;}
#top_menu > div.size > ul.link > li.box > button > span {line-height: 26px;}

#down_menu {height: 60px; border-bottom: 1px solid #dddce3; background: #ffffff;}
#gnb {position: absolute; right: -250px; top: 0; background-color: #0d315b; width: 250px; height: 100vh;  overflow: auto; transition: right 0.3s;}
#gnb.open {right: 0;}
#gnb > ul > li > a {position: relative; display: block; color: #ffffff; font-size: 16px; font-weight: 600; height: 60px;
box-sizing: border-box;  border-bottom: 1px solid rgba(255, 255, 255, 0.1); padding: 20px 0 15px 18px;}
#gnb > ul > li > a > i {font-size: 15px;  position: absolute; right: 20px; top: 20px; padding: 3px;
border: 1px solid rgba(255, 255, 255, 0.8);}
#gnb > ul > li > ul { background-color: #f0f0f0; color: #666666; overflow: hidden; height: 0;
transition: height 0.3s;}
#gnb > ul > li > ul > li > a {background-color: #f0f0f0; display: block; box-sizing: border-box;  height: 45px;
padding: 15px 0 15px 18px; border-bottom: 1px solid rgba(27, 27, 27, 0.1); font-size: 15px; font-weight: 600;}
#gnb > ul > li > ul > li > a:hover {background-color: #ffffff; color: #012e61;}


/* main */

#slide {height: 600px; margin-top: 100px;}
#slide > div.image-slide {position: relative; background-color: yellow; width: 100%; height: 100%; position: relative; margin: 0 auto;}

#slide > div.image-slide .box {background-color: rosybrown; position: relative; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden;}
#slide > div.image-slide .box > .img-size {background-color: blue; display: block; width: 100%; height: 100%;} 
#slide > div.image-slide .box > ul.slide {background: lime; position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
#slide > div.image-slide .box > ul.slide > li {background-size: cover; 
position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#slide > div.image-slide .box > ul.slide > li:first-child {display: block; background: url('../img/bg_m01.jpg') center/cover no-repeat;}
#slide > div.image-slide .box > ul.slide > li:nth-child(2) {background: url('../img/bg_m02.jpg') center center/cover no-repeat;}
#slide > div.image-slide .box > ul.slide > li:nth-child(3) {background: url('../img/bg_m03.jpg') center center/cover no-repeat;}
#slide > div.image-slide > .box > ul.slide > li p {position: absolute; top: 13%; left: 10px; color: #ffffff;}
#slide > div.image-slide > .box > ul.slide > li p * {display: block; opacity: 0;}
#slide > div.image-slide > .box > ul.slide > li p strong {font-size: 32px; font-weight: 550;}
#slide > div.image-slide > .box > ul.slide > li p span {margin-top: 15px; line-height: 1.3em; font-size: 15px; font-weight: 600;}
#slide > div.image-slide > .box > ul.slide > li strong {animation: show-up 0.5s ease 0.3s 1 normal forwards;}
#slide > div.image-slide > .box > ul.slide > li span {animation: show-up 0.5s ease 0.7s 1 normal forwards;}

#slide > div.image-slide > .box > ul.slide > li:nth-child(3) p {color: #1b58A8}
#slide > div.image-slide > .box > ul.slide > li:nth-child(3) p span {font-weight: 700;}

@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  70% {transform: translate(0, -5px); opacity: 1;}
  100% {transform: translate(0, 0); opacity: 1;}
}

#slide > div.image-slide ul.indicator { position: absolute; left: 0; bottom: 100px; width: 100%; text-align: center;}
#slide > div.image-slide ul.indicator > li {display: inline-block;}
#slide > div.image-slide ul.indicator > li > a {width: 15px; height: 15px; border: 2px solid #e5e5e5; border-radius: 8px; display: inline-block; text-indent: -9999px;}
#slide > div.image-slide ul.indicator > li.on > a {background-color: #e5e5e5;}
#slide > div.image-slide .control a.prev,
#slide > div.image-slide .control a.next {position: absolute; top: 45%;}
#slide > div.image-slide .control a.prev {left: 30px;}
#slide > div.image-slide .control a.next {right: 30px;}
#slide > div.image-slide .control a.play {position: absolute; left: 60%; bottom: 106px; color: #ffffff;}
#slide > div.image-slide .control a.play i {display: none;}
#slide > div.image-slide .control a.play i:first-child {display: block;}
#slide > div.image-slide .control a.play.on i:first-child {display: none;}
#slide > div.image-slide .control a.play.on i + i {display: block;}


body.main #main > section {background-color: #ffffff;}
body.main #main > section > div.box {margin: 0 auto;}
body.main #main > section > div.box > h2 {text-align: center; color: #0c4da2;}
body.main #main > section > div.box > h2::before {display: inline-block; position: relative; content:''; width: 40px; height: 40px;}
body.main #main > section > div.box > h2::after {display: inline-block; position: relative; content:''; width: 40px; height: 40px;}
body.main #main > section.gray > div.box {background-color: #ececee}
body.main #main > section > div.slide {padding: 30px 20px 20px 20px;}

div.goal {padding: 50px 0}
div.goal > h2 {font-size: 30px;}
div.goal > h2::before {top: -5px; left: -5px; background: url('../img/edge_left_8.png') 5px 5px no-repeat;}
div.goal > h2::after {top: -5px; right: 0px; content: ""; background: url('../img/edge_right_8.png') 10px 15px no-repeat;}
/* div.goal > h2 + * {text-align: center;}  p, ul 모두에게 text-align;center을 주고 싶다*/
div.goal > p {text-align: center; margin-top: 30px; font-size: 18px; line-height: 1.6em;} /* 문장 사이의 간격 커지게 하는 방법 */
div.goal > ul {text-align: center;}
div.goal > ul > li {margin-top: 50px; display: inline-block; }
div.goal > ul > li + li {margin-left: 50px;}
div.goal > ul > li > a {display: block;}
div.goal > ul > li > a:hover i.fas {background: #b7c9e4;}
div.goal > ul > li > a:hover span {color: #0e60bf;}
div.goal > ul > li > a > i.fas {display: block; background: #edeef0; width: 120px; height: 120px; border-radius: 50%; transition: background 0.5s ease-in;}
div.goal > ul > li > a > i.fas::before {display: inline-block; content: ""; position: relative; top: 4px; left: -6px; background: url('../img/ico_cnt.png'); width: 100px; height: 100px;}
div.goal > ul > li > a > i.fa_film::before {background: url('../img/ico_cnt.png') -110px 0;}
div.goal > ul > li > a > i.fa_brochure::before {background: url('../img/ico_cnt.png') -220px 0;}
div.goal > ul > li > a > i.fa_material::before {background: url('../img/ico_cnt.png') -320px 0; width: 120px; height: 100px;}
div.goal > ul > li > a > span {display: inline-block; margin-top: 10px; font-weight: 700; transition: color 0.5s ease;}

@keyframes show-up {
  0% {transform: translate(0, 50px); opacity: 0;}
  70% {transform: translate(0, -5px); opacity: 1;}
  100% {transform: translate(0, 0); opacity: 1;}
}


div.slide > div.container {position: relative; max-width: 850px; height: 280px; margin: 30px auto 0 auto;}
div.slide > div.container > div.banner-box {width: 100%; height: 100%; overflow: hidden;}
div.slide > div.container > div.banner-box > ul.slide {position: relative; width: 100%; height: 100%; }
div.slide h2 {margin-top: -20px; font-size: 32px;}
div.slide > div.container > div.banner-box > ul.slide > li {position: absolute; top: 0; left: 0; width: calc(25% - 10px); height: 100%; background: #ececee;}
div.slide > div.container > div.banner-box > ul.slide > li:last-child {margin-right: 0;}
div.slide > div.container > div.banner-box > ul.slide > li > a {display: block;}
div.slide > div.container > div.banner-box > ul.slide > li > a > img {width: 100%; height: 140px;}
div.slide > div.container > div.banner-box > ul.slide > li > a > div.description {font-family: 'Noto Sans KR', sans-serif; margin: 20px 10px 0 10px;  text-align: center; 
height: 140px;}
div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > strong {font-size: 15px; color:#0C4DA2; display: block; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden;}
div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > p { margin-top: 5px; font-size: 14px; line-height: 1.6em; max-height: 4.5em; overflow: hidden; color: #777;}
div.slide > div.container p.control > a.prev,
div.slide > div.container p.control > a.next {position: absolute; top: -65px; background-size: 20px;}
div.slide > div.container p.control > a > img {transform: scale(0.8);}

div.slide > div.container p.control > a.prev {left: 10px;}
div.slide > div.container p.control > a.next {right: 10px;}


div.blog h2::before {top: -5px; left: -5px; content:''; background: url('../img/edge_left_8.png') 5px 5px no-repeat;}
div.blog h2::after {top: 3px; right: -2px; content:''; background: url('../img/edge_right_8.png') 5px 5px no-repeat;}
div.blog > div.container > div.banner-box > ul.slide > li {background-color: #fff;}

div.tv h2::before {top: -5px; left: -5px; content:''; background: url('../img/edge_left_8.png') 5px 5px no-repeat;}
div.tv h2::after {top: 3px; right: -4px; content:''; background: url('../img/edge_right_8.png') 5px 5px no-repeat;}

/* sub introduction */
body.introduction #main {width: 100vw; margin-top: 100px;}

div.title {width: 100%; height: 210px; margin-top: 30px;}
div.title > div.container {position: relative; width: 100%; height: 100%; background: url('../img/sub/about_subimg05.jpg') 0 0 no-repeat; background-size: cover; margin: 0 auto;}
div.title > div.container > h2 {position: absolute; right: 0; top: 0; font-size: 26px; background: url('../img/sub/bg_about01_2.jpg'); color: #fff; width: 175px; line-height: 75px; text-align: center;}

div.greeting {margin-left: 10px; height: 150px; margin-top: 30px;}
div.greeting > div.container {width: 100%;}
div.greeting > div.container > h2 {font-weight: 600; font-size: 30px; color: #0c4da2;}
div.greeting > div.container > p {margin-top: 10px; font-size: 16px; color: #333;}

div.ceo-box {margin-left: 10px; height: 900px;}
div.ceo-box > div.container {position: relative; width: 100%; height: 100%;}
div.ceo-box > div.container > div.ceo-picture {width: 350px; margin: 0 auto;}
div.ceo-box > div.container > div.ceo-speech {margin-top: 50px; margin-left: 50px;}
/* div.ceo-box > div.container > div.ceo-speech {position: absolute; left: 10px; top: 400px; font-size: 16px; color: #333; width: 530px; height: 560px;} */
div.ceo-box > div.container > div.ceo-speech > h3 {font-weight: 500;}
div.ceo-box > div.container > div.ceo-speech > p {margin-top: 15px;}



#footer {font-family: 'Nanum Gothic', sans-serif; background: #2d3032; color: #ffffff; position: relative; height: 150px; font-size: 12px;}
#footer > div.wrapper {position: relative; max-width: 850px; margin: 0 auto; height: 100%;}
#footer > div.wrapper > h2 > img {position: absolute; top: 20px; left: 10px;}
#footer > div.wrapper > div.copy_right {position: absolute; top: 20px; left: 130px; font-size: 12px;}
#footer > div.wrapper > ul.btn_box {position: absolute; top: 65px; left: 10px;}
#footer > div.wrapper > ul.btn_box > li {float: left;}
#footer > div.wrapper > ul.btn_box > li + li {margin-left: 5px;}
#footer > div.wrapper > ul.btn_box > li > a.btn_apply {background: url('../img/btn_apply.png'); display: block; text-indent: -9999px; width: 140px; height: 25px;}
#footer > div.wrapper > ul.btn_box > li > select {font-family: 'Nanum Gothic', sans-serif; width: 150px; height: 25px; background: #fff url('../img/select_arrow.gif') no-repeat scroll 98% 46%; appearance: none; padding-left: 10px;}
#footer > div.wrapper > ul.btn_box > li > button {font-family: 'Nanum Gothic', sans-serif; background-color: #4f5053; color: #fff; height: 25px; padding: 0 10px;}
#footer > div.wrapper > div.link_policy {position: absolute; top: 100px;}
#footer > div.wrapper > div.link_policy ul > li {float: left; background-color: #3c3f41; padding: 5px 12px;}
#footer > div.wrapper > div.link_policy ul > li + li {margin-left: 5px;}
#footer > div.wrapper > div.webmark {display: none;}

@media screen and (max-width: 700px) {  
  div.goal {padding: 20px 20px}
  div.goal > h2 {font-size: 20px;}
  div.goal > p {margin-top: 30px; font-size: 15px;}
  div.goal > ul > li {margin-top: 20px;}
  div.goal > ul > li + li {margin-left: 5px;}
  div.goal > ul > li > a > i.fas {width: 100px; height: 100px;}
  div.goal > ul > li > a > i.fas::before {width: 80px; height: 80px; top: 10px; left: -1px; background-size: auto 80px}
  div.goal > ul > li > a > i.fa_film::before {background-position: -80px 2px;}
  div.goal > ul > li > a > i.fa_brochure::before {background-position: -160px 0}
  div.goal > ul > li > a > i.fa_material::before {background-position: -240px 0;}
  div.goal > ul > li > a > span {font-size: 12px; font-weight: 600;}


  div.slide > div.container {height: 280px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > img {height: 140px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description {height: 140px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > strong {font-size: 14px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > p {font-size: 13px; max-height: 6.4em;}


  #footer > div.wrapper > h2 {display: none;}
  #footer > div.wrapper > p.copy_right {font-size: 12px; left: 20%;}
  #footer > div.wrapper > ul.btn_box {top: 65px; left: 25%;}
  #footer > div.wrapper > div.webmark {display: none;}
  #footer > div.wrapper > div.link_policy {left: 5%}
} 

@media screen and (max-width: 650px) {

  #footer > div.wrapper > div.link_policy {left: 1%}
  #footer > div.wrapper > div.link_policy > li + li {margin-left: 2px;}
}



@media screen and (max-width: 600px) {
  #slide {height: 400px;}

  body.main #main > section > div.slide {padding: 40px 20px 30px 20px;}
  
  div.slide > div.container {height: 240px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > img {height: 120px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description {height: 130px; margin: 10px 7px 0 7px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > strong {font-size: 12px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > p {font-size: 11px; line-height: 1.3em; max-height: 6.5em;}
  
  #footer {height: 200px;}
  #footer > div.wrapper > div.link_policy {text-align: center;}
  #footer > div.wrapper > div.link_policy ul {width: 350px; margin: 10px 50px 0 50px;}
  #footer > div.wrapper > div.link_policy ul > li {float: none; display: inline-block;}
}

@media screen and (max-width: 580px) { 
  body.main #main > section > div.box > h2::before, 

  body.main #main > section > div.box > h2::after {display: none;}

  #footer {height: 200px;}
  #footer > div.wrapper > div.copy_right {left: 50px;}
  #footer > div.wrapper > ul.btn_box {top: 70px; left: 60px;}
  #footer > div.wrapper > div.link_policy {text-align: center;}
  #footer > div.wrapper > div.link_policy ul {}
  #footer > div.wrapper > div.link_policy ul > li {float: none; display: inline-block;}
  #footer > div.wrapper > div.link_policy ul > li:nth-child(3) {}
}

@media screen and (max-width: 540px) {
  div.ceo-box > div.container > div.ceo-speech {margin-left: 5px; font-size: 15px;}
}


@media screen and (max-width: 540px) {
br.under-540 {display: none;}
}

@media screen and (max-width: 414px) {
  #slide > div.image-slide .control a.prev,
  #slide > div.image-slide .control a.next {position: absolute; top: 50%;}

  #slide > div.image-slide > .box > ul.slide > li p span {font-size: 20px; line-height: 1.4em;}

  body.main #main > section > div.box > h2::after,
  body.main #main > section > div.box > h2::before {display: none;}

  section.gray, section.white {padding-top: 20px;}
  div.slide  h2 {font-size: 22px;}
  
  div.slide > div.container {height: 280px;}
  div.slide > div.container > div.banner-box > ul.slide > li {width: calc(50% - 5px);}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > strong {font-size: 16px;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description > p {font-size: 13px; line-height: 1.3em; max-height: 6.3em;}
  div.slide > div.container > div.banner-box > ul.slide > li > a > img {height: 140px}
  div.slide > div.container > div.banner-box > ul.slide > li > a > div.description {height: 140px}

  #footer > div.wrapper > div.copy_right {left: 30px; font-size: 11px;}
  #footer > div.wrapper > div.copy_right > .address {margin-left: 20px;}

  #footer > div.wrapper > ul.btn_box {top: 70px; left: 60px;}
  #footer > div.wrapper > div.link_policy ul > li + li {margin-left: 1px;}
  #footer > div.wrapper > div.link_policy ul > li:nth-child(3),
  #footer > div.wrapper > div.link_policy ul > li:nth-child(4) {margin-top: 5px;}

  div.title {height: 130px}
  div.title > div.container {width: 100%; height: 100%;}
  div.title > div.container > h2 { font-size: 18px; background: url('../img/sub/bg_about01_2.jpg'); width: 105px; line-height: 45px;}

  br.under-414 {display: block;}
  br.under-1024 {display: none;}
  div.ceo-box {margin-left: 3px; height: 900px;}
  div.ceo-box > div.container > div.ceo-speech {font-size: 14px;}
}  

@media screen and (max-width: 393px) {
  #top_menu > div.size > ul.link {left: 5px;}
  #top_menu > div.size > ul.link > li.letter {font-size: 14px;}
  #top_menu > div.size > ul.link > li.letter + li.letter {margin-left: 5px;}
  #top_menu > div.size > ul.link > li.off {display: none;}
  #top_menu > div.size > ul.link > li.letter + li.letter::before {display: none;}
  #top_menu > div.size > ul.link > li:nth-child(3) {background-color: aqua; margin-left: 60px;}

  br.under-414 {display: none;}
  br.under-393 {display: none;}
  div.ceo-box > div.container > div.ceo-speech > p {word-break: keep-all;}

}

@media screen and (max-width: 375px) {
  #slide > div.image-slide > .box > ul.slide > li p strong {font-size: 28px;}

  #top_menu > div.size > ul.link {left: 5px;}
  #top_menu > div.size > ul.link > li.letter {font-size: 14px;}
  #top_menu > div.size > ul.link > li.letter + li.letter {margin-left: 5px;}
  #top_menu > div.size > ul.link > li.off {display: none;}
  #top_menu > div.size > ul.link > li.letter + li.letter::before {display: none;}
  #top_menu > div.size > ul.link > li:nth-child(3) {background-color: aqua; margin-left: 60px;}

  #footer > div.wrapper > div.copy_right {left: 1px; font-size: 11px;}
  #footer > div.wrapper > ul.btn_box li a.btn_apply {margin-left: 60px;}
  #footer > div.wrapper > ul.btn_box li + li {margin-top: 5px;}
  #footer > div.wrapper > ul.btn_box > li > select {width: 200px;}

  #footer > div.wrapper > div.link_policy {top: 120px;}
  #footer > div.wrapper > div.link_policy ul {margin-left: 20px; top: 90px;}
}

@media screen and (max-width: 360px) {
  #top_menu > div.size > ul.link > li.box + li.box {margin-left: 2px;}
  #top_menu > div.size > ul.link > li:nth-child(3) {background-color: aqua; margin-left: 20px;}

}

@media screen and (max-width: 320px) {
  #slide > div.image-slide > .box > ul.slide > li p strong {font-size: 26px;}
  #slide > div.image-slide > .box > ul.slide > li p span {margin-top: 15px; line-height: 1.3em; font-size: 15px; font-weight: 500;}
  #slide > div.image-slide .control a.play {position: absolute; left: 62%; bottom: 106px; color: #ffffff;}


  #footer > div.wrapper > div.copy_right {left: 1px; font-size: 11px; text-align: center;}
  #footer > div.wrapper > div.copy_right > .address {margin-left: 0px;}

  #footer > div.wrapper > ul.btn_box {left: 50px;}
  #footer > div.wrapper > div.link_policy ul {margin-left: 0px; font-size: 10px;}
}

@media screen and (max-width: 280px) {
  div.title {width: 320px;}
  div.greeting {width: 310px;}
}